# Filtering by age
---
Filter through the array of users, returning only those who are older than 18

In [16]:
users = [
    {'name': 'John', 'age': 17},
    {'name': 'Sally', 'age': 21},
    {'name': 'Bill', 'age': 10},
    {'name': 'Moe', 'age': 77},
    {'name': 'Jane', 'age': 18},
    {'name': 'Leslie', 'age': 19}
]

In [2]:
[person for person in users if person['age'] > 18]

[{'age': 21, 'name': 'Sally'},
 {'age': 77, 'name': 'Moe'},
 {'age': 19, 'name': 'Leslie'}]

In [3]:
[person for person in users if person['age'] > 18]

[{'age': 21, 'name': 'Sally'},
 {'age': 77, 'name': 'Moe'},
 {'age': 19, 'name': 'Leslie'}]

# Mapping Genders
---
I have a list of genders from a database:

In [4]:
genders = ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female']

In [5]:
int(1)

1

In order to use this list in a machine learning algorithm, we need `genders` to be converted to 1's and 0's.

Create a function called `is_female` that accepts a single `gender` parameter.

- If the string is 'Female', return 1
- If the string is 'Male', return 0

In [6]:
def is_female(gender):
        if gender == 'Female':
            return 1
        else:
            return 0

In [7]:
is_female('Female')

1

In [8]:
is_female('Male') # Should return 0

0

Create a new array called `females` that maps through the `genders` array and creates a list of 1's and 0's using your `is_female` function

In [9]:
females = []
[is_female(gender) for gender in genders]

[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]

# List of names
---
Convert the string of names into a list of names. Be sure to remove all commas and the word "and"

In [10]:
dwarves_string = "Bashful, Doc, Dopey, Happy, Sleepy, Sneezy and Grumpy"

In [11]:
dwarves_string
d_string = dwarves_string.replace(' and', ',')
d_string

'Bashful, Doc, Dopey, Happy, Sleepy, Sneezy, Grumpy'

In [12]:
d_list = d_string.split(', ')
d_list

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'Grumpy']

In [17]:
dwarves_list = dwarves_string.split(' ')
dwarves_list

['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'and', 'Grumpy']

In [18]:
dwarves_list = [dwarf.replace(',', '') for dwarf in dwarves_list]
dwarves_list

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'and', 'Grumpy']

Create a list called `dwarves_list` that splits `dwarves_string` on the spaces:

In [19]:
[dwarf for dwarf in dwarves_list if dwarf != 'and']

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'Grumpy']

Now use list comprehension to remove the commas.

NOTE: You'll still see commas in your output. Just make sure they aren't in the strings.

Finally, use list comprehension to remove the word 'and' from your list

In [15]:
[name for nn]

SyntaxError: invalid syntax (<ipython-input-15-c6ebd6767bf7>, line 1)

# Sum all positives
---
Create a function that accepts an array of numbers. Return a sum of all positive numbers

In [20]:
def sum_positive(number_array):
    x = [num for num in number_array if num > 0]
    y = sum(x)
    return y

In [21]:
sum_positive([1, -2, -3, 1]) # should return 2

2

In [22]:
sum_positive([-1]) # Should return 0

0

# Even numbers
---
Filter through the array of numbers and return only the even ones

In [24]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
even_numbers = [num for num in numbers if num % 2 == 0]

In [26]:
even_numbers

[2, 4, 6, 8, 10]

# Filter by role
---
Filter through this list of users and return all the students

In [28]:
users = [
    {'name': 'Bill', 'role': 'Student'},
    {'name': 'Jane', 'role': 'Student'},
    {'name': 'Frank', 'role': 'Student'},
    {'name': 'Sally', 'role': 'Teacher'}
]

In [29]:
student_users = [user for user in users if user['role'] == 'Student']
student_users

[{'name': 'Bill', 'role': 'Student'},
 {'name': 'Jane', 'role': 'Student'},
 {'name': 'Frank', 'role': 'Student'}]

In [ ]:
# Expected output

Do the same thing above, only this time return all the teachers.

In [30]:
teacher_users = [user for user in users if user['role'] == 'Teacher']
teacher_users

[{'name': 'Sally', 'role': 'Teacher'}]

In [ ]:
# Expected output

Now return all `users` who have 4 characters in their name

In [31]:
four_users = [user for user in users if len(user['name']) == 4]
four_users

[{'name': 'Bill', 'role': 'Student'}, {'name': 'Jane', 'role': 'Student'}]

# Sort numerically
---
Sort the list of numbers below from smallest to largets. *NOTE*: We haven't taught you how to sort a list, you'll need to look it up.

In [32]:
numbers = [10, 2, -1, 0, 3, 5]

In [33]:
sorted_numbers = sorted(numbers)
sorted_numbers

[-1, 0, 2, 3, 5, 10]

# Mapping names
---
Given the list of dictionaries, return an array of full names. The result should be:

```python
['Jane Doe', 'John Kennedy', 'Ada Lovelace']
```

In [2]:
names = [
    {'first_name': 'Jane', 'last_name': 'Doe'},
    {'first_name': 'John', 'last_name': 'Kennedy'},
    {'first_name': 'Ada', 'last_name': 'Lovelace'}
]

In [52]:
full_names = [user['first_name'] + ' ' + user['last_name'] for user in names]
full_names

['Jane Doe', 'John Kennedy', 'Ada Lovelace']

In [4]:
[{'name':name['first_name'] + name['last_name']} for user in names]

NameError: name 'name' is not defined

Now do the same thing above, only return a list of dictionaries, with 'name' being the key. Result should be:
```python
[{'name':'Jane Doe'},{'name':'John Kennedy'},{'name': 'Ada Lovelace'}]
```

[{'name': 'Jane Doe'}, {'name': 'John Kennedy'}, {'name': 'Ada Lovelace'}]

# Mapping a dictionary
---
Map through the following user dictionary and capitalize the first letter of their first and last names:
```python
user = {'first_name': 'john', 'last_name': 'doe'}
```

Your output should be:
```python
{'first_name': 'John', 'last_name': 'Doe'}
```

In [83]:
user = {'first_name': 'john', 'last_name': 'doe'}

In [87]:
user_updated = {k: v.title() for k, v in user.items()}
user_updated

{'first_name': 'John', 'last_name': 'Doe'}