<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of python types, lists, and dictionaries

_Author: Kiefer Katovich (SF)_

---

In [2]:
# Enter Student names here:
student_names = ['Mark', 'Tom', 'Ajinth', 'Marissa', 'Carl', 'Jerry', 'Lisa', 'Ben', 'Pernesso', 'Andrew', 'Pooja', 'Chris']

# ---

### 1. What are the types of the following variables?

In [3]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

print(type(a))
print ('A is of type {}'.format(type(a)))
print('b is a type {}'.format(type(b)))
print('c is a type {}'.format(type(c)))
print('d is a type {}'.format(type(d)))
print('e is a type {}'.format(type(e)))
print('f is a type {}'.format(type(f)))
print('g is a type {}'.format(type(g)))

<class 'int'>
A is of type <class 'int'>
b is a type <class 'float'>
c is a type <class 'list'>
d is a type <class 'dict'>
e is a type <class 'tuple'>
f is a type <class 'dict'>
g is a type <class 'bool'>

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [3]:
# A: A mutable object is an object that can be changed such as a list or dictionary. While and immutable object as elements that can't be changed such as a tuple.

---

### 3. Print the `student_names` list.

In [4]:
print(student_names)

['Mark', 'Tom', 'Ajinth', 'Marissa', 'Carl', 'Jerry', 'Lisa', 'Ben', 'Pernesso', 'Andrew', 'Pooja', 'Chris']

---

### 4. Print the names of the first and last students in the list.

In [6]:
print(student_names[0])
print(student_names[-1])

Mark
Chris

---

### 5. Print the first four names in the student list.

In [8]:
student_names[:4]

['Mark', 'Tom', 'Ajinth', 'Marissa']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space.  Assign that string to a variable.

Pernesso Andrew

---

### 7. Append an animal to the list of animals.

In [8]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [9]:
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [10]:
animals.append('octopus')

In [11]:
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'octopus']

---

### 8. Print the length of the animals list.

In [12]:
print(len(animals))

7

---

### 9. Divide the length (of the string) of the fifth animal by the second.

In [13]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
variable = len(animals[4]) / len(animals[1])
print(variable)

2.3333333333333335

---

### 10. Perform the same division, but ensure output is a decimal number.

In [14]:
print(float(variable))

2.3333333333333335

---

### 11. Show two different ways to combine the animals list and the numbers list.

In [15]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [16]:
print(numbers + animals)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [40]:
new_list = zip(animals, numbers)
new_list = [*animals, *numbers]
print(new_list)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12. Remove 'kiefer' from the list and insert your own in its place.

In [17]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [43]:
names.pop(2)

'kiefer'

In [44]:
names

['doug', 'billy', 'kian', 'sam']

---

### 13. Sort the following list.

In [49]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [121]:
sorted_mix = sorted([str(i) for i in mix])
sorted_mix

['(1, 2, 3)',
 '12',
 '12.999',
 "['billy', 'sam']",
 'a',
 'flower',
 "{'key': 'value'}"]

In [73]:
sorted

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

---

### 14. Manually check whether one element of `mix` is greater than another.

In [75]:
sorted_mix

['(1, 2, 3)',
 '12',
 '12.999',
 "['billy', 'sam']",
 'a',
 'flower',
 "{'key': 'value'}"]

In [87]:
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 15. Find the index of `'a'` in the list.

In [78]:
mix.index('a')

5

---

### 16. Reverse the `mix` list.

In [109]:
reverse_mix = mix[::-1]
reverse_mix

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

---

### 17. Remove the last element of `mix`,  and assign it to a variable.

In [112]:
mix.reverse()
mix

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [113]:
mix

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [115]:
shorter_mix = mix[:-1]
shorter_mix

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a']

In [119]:
last_e_mix = mix[-1]
last_e_mix

(1, 2, 3)

---

### 18. Count the number of times `0` appears in the following list.

In [25]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [120]:
sum = 0
for num in binary:
    if binary[num] == 0:
        sum += 1
print(sum)

16

---

### 19. Create an SF (San Francisco) zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [125]:
sf_dict = {'sunset':94122,
'presidio':94129,
'soma':94105,
'marina':94123}
sf_dict

{'marina': 94123, 'presidio': 94129, 'soma': 94105, 'sunset': 94122}

---

### 20. Get the zipcode for `'soma'`, and assign it to a variable.

In [129]:
soma_zip = sf_dict['soma']
soma_zip

94105

---

### 21. Get the keys out of the dictionary.

In [130]:
for key in sf_dict:
    print(key)

sunset
presidio
soma
marina

---

### 22. Add the castro district to the dictionary with zipcode 94114.

In [150]:
sf_dict['castro'] = 94114
sf_dict

{'castro': 94114,
 'marina': 94123,
 'presidio': 94129,
 'soma': 94105,
 'sunset': 94122}

---

### 23. Combine the following smaller dictionary of districts with the SF zip codedictionary.

In [153]:
small = {'outer_richmond':94121, 'dogpatch':94107}
small

{'dogpatch': 94107, 'outer_richmond': 94121}

In [157]:
combined_dict = sf_dict.update(small)
sf_dict

{'castro': 94114,
 'dogpatch': 94107,
 'marina': 94123,
 'outer_richmond': 94121,
 'presidio': 94129,
 'soma': 94105,
 'sunset': 94122}

---

### 24. Remove the '`sunset`' zipcode, and assign it to a variable.

In [170]:
sf_dict

{'castro': 94114,
 'dogpatch': 94107,
 'marina': 94123,
 'outer_richmond': 94121,
 'presidio': 94129,
 'soma': 94105}

In [163]:
sunset_zipcode = sf_dict['sunset']
sunset_zipcode

94122

In [171]:
sunset_zipcode

94122

In [172]:
sf_dict

{'castro': 94114,
 'dogpatch': 94107,
 'marina': 94123,
 'outer_richmond': 94121,
 'presidio': 94129,
 'soma': 94105}

---

### 25. Check if the 'dogpatch' is in the dictionary.

In [176]:
for k, v in sf_dict.items():
    if k == 'dogpatch':
        print('it exists')

it exists